<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFE | LOG IN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>

            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
        <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
    </div>
</body>
</html>
